.ceramics {
    padding: 70px 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (max-width: 1199px) {
    /* 992 */
    .ceramics {
        &__list {
            justify-content: space-around;
        }
    }
}

