@import '../../styles/variables.module.scss';

.goback {
    display: block;
    text-align: center;
    color: $main-color;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
}