@import '../../../../styles/variables.module.scss';

.health {
    padding-top: 70px;
    min-height: 60vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../resources/health/health.png') no-repeat 50%/cover;
    filter: drop-shadow(0.7);
    &__title {
        padding-bottom: 12px;
    }
    &__description {
        padding-top: 24px;
        color: $white-color;
        font-size: 30px;
        font-weight: 700;
    }
}