@import '../../../../styles/variables.module.scss';

.mainscreen {
    position: relative;
    height: 90vh;
    width: 100%;
    min-height: 700px;
    padding-top: 60px;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
        picture, source, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    &__title {
        color: $white-color;
        font-size: 80px;
        font-weight: 700;
        padding: 50px 0 0 180px;
        position: relative;
        &:before {
            content: '';
            background:  url("../../../../resources/mainScreen/mainScreenElement.png") center center/cover no-repeat;
            position: absolute;
            top: 0px;
            left: 0;
            width: 450px;
            height: 450px;
            z-index: -1;
        }
    }
    &__subtitle {
        color: $white-color;
        font-size: 40px;
        font-weight: 700;
        margin-left: 180px;
        z-index: 1;
    }
    &__description {
        color: $white-color;
        font-size: 20px;
        font-weight: 700;
        margin-left: 180px;
        margin-top: 20px;
        max-width: 470px;
        z-index: 11;
    }
}
@media (max-width: 1199px) {
    /* 992 */
    .mainscreen {
        height: unset;
        min-height: 550px;
    }
}
@media (max-width: 991px) {
    /* 768 */
    .mainscreen {
        &__title {
            padding-left: 100px;
            padding-top: 0;
            &:before {
                display: none;
            }
        }
        &__subtitle, &__description {
            margin-left: 100px;
        }
    }
}
@media (max-width: 767px) {
    /* 576 */
    .mainscreen {
        min-height: 450px;
        &__background {
            img {
                object-fit: fill;
            }
        }
        &__title {
            padding-left: 0;
            font-size: 50px;
        }
        &__subtitle {
            margin-left: 0;
            font-size: 34px;
        }
        &__description {
            margin-left: 0;
        } 
    }
}

@media (max-width: 575px) {
    /* 320 */
    .mainscreen {
        padding-top: 15px;
        &__title {
            font-size: 34px;
        }
        &__subtitle {
            font-size: 28px;
        }
        &__description {
            font-size: 20px;
        } 
    }
}