@import '../../../../styles/variables.module.scss';
.mainscreen {
    position: relative;
    height: 90vh;
    min-height: 700px;
    padding-top: 60px;
    padding-left: 60px;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
    }
    &__title {
        font-size: 80px;
        color: $white-color;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 40px;
        color: $white-color;
        font-weight: 700;
    }
    &__description {
        margin-top: 20px;
        font-size: 20px;
        color: $white-color;
        font-weight: 700;
        max-width: 470px;
    }
}