@import '../../../styles/variables.module.scss';
.ceramics {
    &__item {
        max-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;   
        position: relative;
    }

    &__icn {
        width: 260px;
        height: 270px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__subtitle {
        height: 50px;
        margin: 15px auto 0;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    &__list {
        li {
            position: relative;
            padding-left: 16px;
            color: $black-color;
            font-weight: 700;
            font-size: 20px;
            margin: 15px 0;
            text-align: justify;
            &:before {
                position: absolute;
                left: 0;
                top: 8px;
                content: '';
                height: 10px;
                width: 10px;
                background-color: $main-color;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 575px) {
    /* 320 */
    .ceramics {
        &__item {
            width: 300px;
        }
    } 
    
}

