@import '../../styles/variables.module.scss';

.navigation {
    width: 50%;
    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white-color;
    }
}


@keyframes fade-in {
    0% { opacity: 0; height: 0; }
    100% { opacity: 1; height: 120px; }
  }

@media (max-width: 575px) {
    /* 320 */
    .navigation__list {
        justify-content: space-between;
        flex-direction: column;
        height: 120px;
        text-align: center;
        margin-top: 0;
        padding-top: 12px;
        animation: fade-in 0.5s ease-in;
        &_hidden {
            display: none;
        }
    }
}



