@import '../../styles/variables.module.scss';
.texts {
    &__list {
        color: $black-color;
        font-size: 18px;
        font-weight: 700;
        margin-top: 16px;
        text-align: justify;
        li {
            font-size: 18px;
            font-weight: 400;
            padding-left: 20px;
            position: relative;
            &:before {
                content: '';
                background-color: $main-color;
                border-radius: 50%;
                height: 10px;
                left: 0;
                position: absolute;
                top: 8px;
                width: 10px;
                
            }
            &:first-child {
                margin-top: 16px;
            }
        }
    }
    &__item{
        color: $black-color;
        font-size: 18px;
        margin-top: 16px;
        text-align: justify;
        &_bold {
            font-weight: 700;
        }
        &_normal {
            font-weight: 400;
        }
    }    
}